@import "assets/css/index.scss";

.App {
  width: 100vw;
  overflow-x: hidden;

  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 72px 36px 72px 36px;
  }
}
